.detail--curiosity{
    margin: auto;
    text-align: center;

    &__title{
        font-size: 2.5rem;

    }

    &__detail{
        font-size: 1.5rem;
    }

    &__date{
        font-size: 1.5rem;
    }
}