.curiosity{
    margin: auto;
    text-align: center;
    width: 80%;

    &__title{
        font-size: 3rem;
        margin-bottom: 15px;

    }

    &__detail{
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    &__date{
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    &__image{
        height: 70vh;
        max-width: 100%;
    }
}