.navigation{
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin-bottom: 30px;

    &__list{
      display: flex;
      gap: 25px;
      list-style: none;
      width: auto;
      padding-left: 150px;
    }

    &__item{
      display: inline-block;
      text-transform: uppercase;
      align-self: center;
      cursor: pointer;
    }

    &__img{
      width: 70px;
    }

    &__ancre{
      color: #ffffff !important;
      text-decoration: none !important;
      font-size: 1.3rem;
      text-shadow: 
        -1px -1px 0 rgb(190, 59, 59),  
        1px -1px 0 rgb(214, 56, 56),
        -1px 1px 0 rgb(201, 42, 42),
        1px 1px 0 rgb(223, 39, 39);
        
    }
}

