.logo-link{
  margin: 0 auto;

  &__image{ 
   width : 400px;
   height: 240px;
  }
}

.navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #ff243b;
  text-shadow: 
    -1px -1px 0 rgb(177, 175, 175),  
    1px -1px 0 rgb(177, 175, 175),
    -1px 1px 0 rgb(177, 175, 175),
    1px 1px 0 rgb(177, 175, 175);
}
.navigation-items{
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  text-align: center;
  gap: 30px;
  width: 100%;

  &__link {
    font-size:30px;
    font-weight: 500;
  }
  
}

a:link,
a:visited {
  color: #fc3d21; /* Couleur fixe pour les liens non visités et visités */
  text-decoration: none; /* Pour supprimer le soulignement par défaut des liens */
  
}

/* Changement de couleur au survol */
a:hover {
  color: #fc3d21; /* Nouvelle couleur au survol */
}
