.apod{
    max-width: 100%;
    margin: auto;

    &__title{
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;
    }
}

.apod-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    height: 600px;

    &__img{
        align-self: center;
        width: 800px;
        height: 50vh;
        margin-bottom: 20px;
    }

    &__title{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 15px;
    }

    &__author{
        font-size: 1.3rem;
        margin-bottom: 5px;
        font-weight: bold;
    }

    &__explanation{
        font-size: 1.3rem;
        font-style: italic;
        background-color: rgba(24, 23, 23, 0.2);
    }
}